/* ==UserStyle==
@name         Dark SpanTree Companion
@namespace    nisgrak
@description  Companion theme of Dark Gitlab for SpanTree
@version      0.0.2
@author       Nisgrak
@homepageURL  https://gitlab.com/Nisgrak/dark-spantree
@updateURL    https://gitlab.com/Nisgrak/dark-spantree/-/raw/master/dark-spantree.user.css
@supportURL   https://gitlab.com/Nisgrak/dark-spantree/issues
@license      GPL
@preprocessor stylus

==/UserStyle== */
@-moz-document regexp('^https?://((next|www)\.)?(gitlab\.(?!(io|biterg)).*)(/.*)?$') {
    body {
        color: var(--light) !important;
    }

    .tree-pane {
        background-color: var(--bb);
        box-shadow: 2px 0px 8px var(--darker);

        .tree-body {
            border: 0px;

            .arrow {
                border-color: var(--white);
            }

            .tree-list {
                &::-webkit-scrollbar {
                    background-color: inherit;
                }

                &::-webkit-scrollbar-track {
                    background-color: var(--darken);
                }

                &::-webkit-scrollbar-corner {
                    background-color: var(--darken);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.35);
                }
            }
        }
    }

    .spantree-toggler {
        background-color: var(--bb);
        border: 0px;
        box-shadow: 0px 0px 5px var(--darker);
    }
}